{% for item in items %}
<div style="margin-bottom: 2em;">
  <img src="{{ item.URL }}" style="width: 100%; max-width: 100%;">
  <div><strong>{{ item["Short Caption"] }}</strong></div>
  {% if item["Remainder Caption"] %}
  <div>{{ item["Remainder Caption"] }}</div>
  {% endif %}
  <div style="text-align: right;">{{ item.Rating }}</div>
  <div style="text-align: right;">
    {% for kw in item.Keywords.split(", ") %}
      <a href="/tag/{{ kw|lower|replace(' ', '-') }}">{{ kw.upper() }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
