<div style="display:inline-block; width: {{ 100 }}%;">
  <img src="{{ item['URL'] }}" style="width:100%;"/>
  <div><strong>{{ item['Short'] }}</strong></div>
  {% if item['Rest'] %}
    <details><summary>Read more</summary>{{ item['Rest'] }}</details>
  {% endif %}
  <div>{{ item['Stars'] }}</div>
  <div style="text-align:right;">
    {% for tag in item['Tags'] %}
      <a href="/tag/{{ tag|lower().replace(' ', '-') }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
</div>